<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../../css/mui.min.css" />
		<link rel="stylesheet" href="../../../css/base.css" />
		<link rel="stylesheet" href="../../../css/main.css" />
		<script type="text/javascript" src="../../../js/e_fish.js" ></script>
		<script type="text/javascript" src="../../../js/mui.min.js" ></script>
	</head>
	<style>
		.model{
		    right: 0;
		    top:50%;
		    background: #fff;
		    text-align: center;
		    height: 100%;
		    overflow: auto;
		    width: 100%;
		    padding: 30px 10px;
		}
	</style>
	<body id="e_fish_container">
		<div id="app">
	        <div class="y_logo">
	            <img src="../../../images/y-logo.png" alt="">
	        </div> 
	        <div class="plr40 y_login_box">
                <div class="y_method  ub ub-pac">
                    <div class="ub-f1" :class="{'active' : index == 0}" @tap='change(0)'>注册</div>
                    <div class="ub-f1" :class="{'active' : index == 1}" @tap='change(1)'>登录</div>
                </div>
                <!-- 注册 -->
                <div class="y_input" v-show="index == 0">
                    <!-- 验证码 -->
                    <div class="y_code" v-show="nextTap">
                    	<div class="mui-input-row y_input_item">
					    	<input type="text" class="mui-input-clear" placeholder="请输入手机号" v-model="tel">
					    </div> 
                        <div class="y_input_item ub  ub-ac">
                            <input type="text" placeholder="请输入验证码" class="ub-f1" v-model="code">
                            <span class="y_getcode" @tap="getCode" v-if="!isSend">获取验证码</span>
                            <span class="y_getcode" v-else>剩余{{timer}}秒</span>
                        </div>
                        <div class="y_input_item ub pr40 ub-ac">
                            <input type="text" placeholder="注册邀请码（可不填）" class="ub-f1" v-model="invite_code">
                        </div>
                        <button class="btn btn-green" type="button" @tap="nextstep" :disabled="isNext"> 下一步</button>
                    </div>
                    <!-- 密码 --> 
                    <div class="y_pwd" v-show="!nextTap">
                    	<div class="mui-input-row y_input_item">
					    	<input type="password" class="mui-input-clear" placeholder="请输入6-16位字母数字密码" v-model="pwd">
					    </div>
					    <div class="mui-input-row y_input_item">
					    	<input type="password" class="mui-input-clear" placeholder="请再次输入密码" v-model="surepwd">
					    </div>
                        <div class="ub ub-ac y_agreement" @tap="read">
                        	<div class="y_agree" :class="{'active':agree}"></div>
                        	<p >同意<a href="#">《用户使用协议》</a></p>
                        </div>
                        <button class="btn btn-green"  type="button" :disabled="isRegister" @tap="signUp">注册</button> 
                    </div>
                </div>
                <!-- 登陆 -->
                <div class="y_input" v-show="index == 1">
                	<div class="y_login">
                		<div class="mui-input-row y_input_item">
					    	<input type="text" class="mui-input-clear" placeholder="请输入手机号/身份证号" v-model="username">
					    </div>
					    <div class="mui-input-row y_input_item">
					    	<input type="password" class="mui-input-clear" placeholder="请输入密码" v-model="userpwd">
					    </div>
                        <span class="c-green fz32 y_codelogin" to="my/login/messageCode" title="登录">使用短信验证码登录</span>
                        <button class="btn btn-green" type="button" @tap="login">登录</button>
                        <div class="tx-c">
                        	<span class="c-green fz32 y_codelogin" to="my/login/forget" title="找回密码" ani="slide-in-bottom">找回密码</span>
                        </div> 
                	</div>
                </div>
	        </div>
	        <transition name="slide-fade" >
			    <div v-show="agreeshow">
			        <div class="model mui-popup mui-popup-in">
			            <div class="mui-popup-title">云筑天下APP用户注册服务协议书</div>
			            <div class="mui-popup-text" >
			              <p><span>重要提示：</span>
			               （1）《云筑天下用户注册服务协议书》（下称“本协议”）是用户（以下或称用户）与石榴籽科技有限公司（以下或简称石榴籽科技/公司）之间的法律协议，是用户获取云筑天下平台账号和/或使用云筑天下服务使用的通用条款。
			              </p>
			              <p>
			                （2）请用户务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、管辖与法律适用条款。限制、免责条款可能以黑体加粗或加下划线的形式提示用户重点注意。
			              </p>
			              <p>
			               （3）除非用户接受本协议所有条款，否则用户无权下载、安装或使用本软件及其相关服务。用户的下载、安装、使用、账号获取和登录等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。未成年人应在法定监护人陪同下阅读、使用。
			              </p>
			              <p>
			              （4）用户一经注册，则视为石榴籽科技公司或关联方/合作方推广人员的任何宣传、推广、承诺（如有）已转化为本协议内容。用户不得以本协议约定外的事由向相对方主张不合法权益。
			              </p>　
			              <div>
			                <p><span>一、定义</span>
			                1.1.云筑天下平台，系指石榴籽科技有限公司旗下运营之云筑天下网站（如有）、无线站点（如有）及云筑天下移动应用软件APP（即云筑天下APP）。
			                </p>
			                <p>
			                1.2.用户，系指注册用户和非注册用户，以下或简称“用户”。其中注册用户指通过云筑天下平台完成全部注册程序后，使用云筑天下平台服务或相关信息的用户；非注册用户指未进行注册、直接登录云筑天下平台或通过其他网站进入云筑天下平台直接或间接地使用云筑天下平台服务或相关信息的用户。
			                </p>
			                <p>
			                1.3.石榴籽科技有限公司，系指云筑天下平台的运营实体。
			                </p>
			                <p>
			                1.4.本协议，指《云筑天下用户注册服务协议书》、相关《隐私权协议》（如有）及附件。云筑天下平台相关应用可能随时更新或补丁，用户应当及时关注并同意云筑天下不承担通知义务，云筑天下的通知、公告、声明或其他类似内容均作为本协议的有效组成部分。
			                </p>
			                <p>
			                 1.5.除非特别指出，本协议中包含石榴籽科技有限公司及其相关服务可能存在的运营关联单位、云筑天下平台在协议中统称为“云筑天下”。
			                </p>　
			              </div>
			              　　<div>
			              <p><span>二、知识产权、版权声明</span>
			              2.1.云筑天下的一切版权、商标权、专利权、商业秘密等知识产权，以及与软件相关的所有信息内容，包括但不限于：文字表述（含建筑行业的政策解读、趋势研究等）及其组合、图标、图饰、图表、色彩、界面设计、版面框架、有关数据、印刷材料或电子文档等均受中华人民共和国著作权法、商标法、专利法、反不正当竞争法和相应的国际条约以及其他知识产权法律法规的保护，除涉及第三方授权的软件或技术外，石榴籽科技公司享有上述知识产权。
			              </p>
			              <p>
			              2.2.未经石榴籽科技公司书面同意，用户不得为任何营利性或非营利性的目的自行实施、利用、转让或许可任何第三方实施、利用、转让上述知识产权，石榴籽科技公司保留追究上述未经许可行为的权利。
			              </p>
			              <p>
			             2.3.用户一旦接受本协议，即表明该用户主动将其在任何时间段在本平台发表的任何形式的信息内容（包括但不限于建筑行业信息、用户评价、用户咨询、各类话题文章等信息内容）的财产性权利等任何可转让的权利，如著作权财产权（包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），全部独家且不可撤销地转让给云筑天下所有，用户同意云筑天下有权就任何主体侵权而单独提起诉讼。
			              </p>
			            </div>
			              <div>
			                <p>
			                  <span>三、用户注册</span>
			                </p>
			                <p>
			                3.1.用户确认，在用户完成注册程序或以其他云筑天下允许的方式实际使用云筑天下平台服务时，用户应当是具备相应民事行为能力的自然人、法人或其他组织。若用户不具备前述主体资格，则用户及用户的家长或法定监护人（以下统称"监护人"）应承担因此而导致的一切后果，且云筑天下有权注销用户的账户，并向用户及用户的监护人索偿。 
			                </p>
			                <p>
			                3.2.云筑天下非常重视对青少年个人信息搜集和使用的安全性的保护。
			                </p>
			                <p>
			                3.3.在用户签署本协议，完成注册程序时，云筑天下会向用户提供唯一编号/编码的云筑天下账户。用户应对用户的用户账户、登录密码、支付密码（如有）、验证码的安全，以及对通过用户的账户和密码实施的行为负责；因此所衍生的任何损失或损害，云筑天下无法也不承担任何责任。除非有法律规定或行政司法机关的指令，且征得云筑天下的同意，否则用户的用户账户、登录密码、支付密码（如有）和验证码不得以任何方式转让、借用、赠与、继承（与账户相关的财产权益除外）(或)在第三方平台上进行展示或售卖。否则，由此给用户（或云筑天下、任何第三方）造成的一切损失，概由用户自行承担（或者负责赔偿）。 
			                </p>
			                <p>
			                3.4.云筑天下承诺非经法定原因、本协议的约定或用户的事先许可，云筑天下不会向任何第三方透露用户的注册账号、手机号码等非公开信息。如果发现任何人不当使用用户的账户或有任何其他可能危及用户的账户安全的情形时，用户应当立即以有效方式通知云筑天下，要求云筑天下暂停相关服务。用户理解云筑天下对用户的请求采取行动需要合理时间，云筑天下对在采取行动前已经产生的后果（包括但不限于用户的任何损失）不承担任何责任。
			                </p>
			                <p>
			                3.5.用户在注册帐号或使用云筑天下服务的过程中，应提供合法、真实、准确的个人资料，用户填写的个人资料有变动的，应及时进行更新。如果因用户提供的个人资料不合法、不真实、不准确的，用户需承担因此引起的相应责任及后果，并且云筑天下保留终止用户使用云筑天下各项服务的权利。
			                </p>
			                <p>
			                3.6.用户了解并同意，如用户符合并且遵守本协议条款，在通过云筑天下完成注册程序之后，即可成为云筑天下注册用户。对于用户主动提交的相关信息，用户授权云筑天下及网络运营者及关联服务提供方委托的第三方通过合法渠道（包括但不限于征信机构、资信机构、大数据服务机构等）了解、咨询、审查用户的个人市场交易风险的真实情况，并据此判断用户的风险状况。
			                </p>
			                <p>
			                3.7.用户不得通过任何手段恶意注册云筑天下网站帐号，包括但不限于以牟利、炒作、套现等为目的多个账号注册。用户亦不得盗用其他用户帐号。
			                </p>
			                <p>
			                3.8.用户了解并同意，一经注册用户账号，即视为用户同意云筑天下及/或其关联公司通过短信或者电子邮件的方式向用户注册时填写的手机号码或者电子邮箱发送相应的产品服务广告信息、促销优惠等营销信息；用户如果不同意发送，用户可以通过相应的退订功能进行退订。
			                </p>
			              </div>
			              <div>
			                <p><span>四、云筑天下APP使用规范</span></p>
			                <p>
			                  4.1.用户应当严格遵守中华人民共和国相关法律法规,其内容包括但不限于《中华人民共和国计算机信息系统安全保护条例》、《计算机软件保护条例》、《最高人民法院关于审理涉及计算机网络著作权纠纷案件适用法律若干问题的解释(法释[2004]1号)》、《全国人大常委会关于维护互联网安全的决定》、《互联网电子公告服务管理规定》、《互联网新闻信息服务管理规定》、《互联网著作权行政保护办法》和《信息网络传播权保护条例》等有关计算机互联网规定和知识产权的法律和法规、实施办法等。
			                </p>
			                <p>
			                  4.2.用户对其自行发表、上传或传送（或转发）的内容负全部责任,所有用户不得在云筑天下任何页面发布、转载、传送含有下列内容之的信息,否则云筑天下有权自行处理并不通知用户：
			                </p>
			                <p>
			                  (1)违反宪法确定的基本原则的;
			                </p>
			                <p>
			                  (2)危害国家安全,泄漏国家机密,颠覆国家政权,破坏国家统一的;
			                </p>
			                <p>
			                  (3)损害国家荣誉和利益的;
			                </p>
			                <p>
			                  (4)煽动民族仇恨、民族歧视,破坏民族团结的；
			                </p>
			                <p>
			                  (5)破坏国家宗教政策,宣扬邪教和封建迷信的；
			                </p>
			                <p>
			                  (6)散布谣言,扰乱社会秩序,破坏社会稳定的;
			                </p>
			                <p>
			                  (7)散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的;
			                </p>
			                <p>
			                  (8)侮辱或者诽谤他人,侵害他人合法权益的;
			                </p>
			                <p>
			                  (9)煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的;
			                </p>
			                <p>
			                  (10)以非法民间组织名义活动的;
			                </p>
			                <p>
			                  (11)含有法律、行政法规禁止的其他内容的。
			                </p>
			                <p>
			                  4.3.用户承诺:
			                </p>
			                <p>
			                  (1)对其发表或者上传于本站的所有信息(即属于《中华人民共和国著作权法》规定的作品，包括但不限于文字、图片、音乐、电影、表演和录音录像制品和电脑程序等)均享有完整的知识产权,或者已经得到相关权利人的合法授权;如用户违反本条规定造成本站被第三人索赔的,用户应全额补偿本站一切费用(包括但不限于各种赔偿费、诉讼代理费及为此支出的其它合理费用等)。
			                </p>
			                <p>
			                 (2)在使用云筑天下的过程中，实施的所有行为均遵守国家法律、法规等规范文件及云筑天下平台各项规则的规定和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。用户如果违反前述承诺，产生任何法律后果的，用户应以自己的名义独立承担所有的法律责任，并确保云筑天下免于因此产生任何损失或增加费用。
			                </p>
			                <p>
			                （3）不对云筑天下上的任何数据作商业性利用，包括但不限于在未经云筑天下事先书面同意的情况下，以复制、传播等任何方式使用云筑天下上展示的资料。
			                </p>
			                <p>
			                 （4）不使用任何装置、软件或例行程序干预或试图干预云筑天下的正常运作或正在云筑天下平台上进行的任何活动。用户不得采取任何将导致不合理的庞大数据负载加诸云筑天下平台网络设备的行动。
			                </p>
			                <p>
			                 4.4.当第三方认为用户发表或者上传于本站的信息侵犯其权利,并根据《信息网络传播权保护条例》或者相关法律规定向本站发送权利通知书时,用户同意本站可以自行判断决定删除涉嫌侵权信息,除非用户提交书面证据材料排除侵权的可能性,本站将不会自动恢复上述删除的信息，同时用户要做到以下四点：
			                </p>
			                <p>
			                  (1)不得为任何非法目的而使用网络服务系统；
			                </p>
			                <p>
			                  (2)遵守所有与网络服务有关的网络协议、规定和程序；
			                </p>
			                <p>
			                  (3)不得利用本站进行任何可能对互联网的正常运转造成不利影响的行为;
			                </p>
			                <p>
			                  (4)不得利用本站进行任何不利于本站的行为。
			                </p>
			                <p>
			                4.5.如用户在使用网络服务时违反上述任何规定,本站有权要求用户改正或直接采取一切必要的措施(包括但不限于删除用户张贴的内容、暂停或终止用户使用网络服务的权利)以减轻用户不当行为而造成的影响。
			                </p>
			                <p>
			                  4.6.用户了解并同意：
			                </p>
			                <p>
			                 （1）若违反上述承诺时，云筑天下有权依据本协议的约定，做出相应处理或终止向用户提供服务，且无须征得同意或提前通知。
			                </p>
			                <p>
			                （2）根据相关法令的指定或者云筑天下服务规则的判断，用户的行为涉嫌违反法律法规的规定或违反本协议和/或规则的条款的，云筑天下有权采取相应措施，包括但不限于直接屏蔽、删除侵权信息、降低用户的信用值或直接停止提供服务。如因此使云筑天下遭受损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，用户应当赔偿云筑天下因此造成的损失及（或）发生的费用，包括合理的律师费及其他费用。
			                </p>
			                <p>
			                  （3）对于用户在云筑天下上实施的行为，包括用户未在云筑天下平台上实施但已经对云筑天下平台及其用户产生影响的行为，云筑天下有权单方认定用户行为的性质及是否构成对本协议和/或规则的违反，并据此采取相应的处理措施。用户应自行保存与用户行为有关的全部证据，并应对无法提供充要证据承担不利后果。
			                </p>
			                <p>
			                （4）对于用户涉嫌违反承诺的行为对任意第三方造成损害的，均应当以用户的名义独立承担所有的法律责任，并应确保云筑天下免于承担因此产生的损失或增加的费用。
			                </p>
			              </div>
			              <div>
			                <p><span>五、责任范围和责任限制</span></p>
			                <p>
			                5.1云筑天下负责向用户提供云筑天下平台服务。但云筑天下对平台服务不作任何明示或暗示的保证，包括但不限于云筑天下平台服务的适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。同时，云筑天下也不对平台服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、稳定性、完整性和及时性作出任何承诺和保证。
			                </p>
			                <p>
			                5.2云筑天下仅向用户提供云筑天下平台服务，用户了解云筑天下平台上的信息系用户自行发布，由于海量信息的存在，且云筑天下平台无法杜绝可能存在风险和瑕疵。用户应谨慎判断确定相关信息的真实性、合法性和有效性，并注意保留相应的证据以利于维权，如可能，尽量采用网站建议的交易方式进行。
			                </p>
			                <p>
			                5.3云筑天下平台与其他的在线使用的网站一样，也会受到各种不良信息、网络安全和网络故障问题的困扰，包括但不限于：
			                </p>
			                <p>
			                  （1）其他用户可能会发布诈骗或虚假信息，或者发表有谩骂、诅咒、诋毁、攻击内容的，或者含有淫秽、色情、下流、反动、煽动民族仇恨等让人反感、厌恶的内容的非法言论；
			                </p>
			                <p>
			                  （2）其他用户可能会发布一些侵犯用户或者其他第三方知识产权、肖像权、姓名权、名誉权、隐私权和/或其他合法权益的图片、照片、文字等资料；
			                </p>
			                <p>
			                  （3）面临着诸如黑客攻击、计算机病毒困扰、系统崩溃、网络掉线、网速缓慢、程序漏洞等问题的困扰和威胁。
			                </p>
			                <p>
			                  （4）用户充分了解并同意：上述的各种不良信息、网络安全和网络故障问题，并不是云筑天下或者云筑天下平台所导致的问题，由此可能会造成用户感到反感、恶心、呕吐等精神损害，或者给用户造成其他的损失，概由用户自行承担，云筑天下无须向用户承担任何责任。
			                </p>
			                <p>
			                 5.4.用户同意，在发现本网站任何内容不符合法律规定，或不符合本用户协议规定的，用户有义务及时通知云筑天下。如果用户发现用户的个人信息被盗用、用户的版权或者其他权利被侵害，请将此情况告知云筑天下并同时提供如下信息和材料：
			                </p>
			                <p>
			                  （1）侵犯用户权利的信息的网址，编号或其他可以找到该信息的细节；
			                </p>
			                <p>
			                  （2）用户是所述的版权或者其他权利的合法拥有者的权利证明；
			                </p>
			                <p>
			                  （3）用户的联系方式，包括联系人姓名，地址，电话号码和电子邮件；
			                </p>
			                <p>
			                  （4）用户的身份证复印件、营业执照等其他相关资料。
			                </p>
			                <p>
			                  经审查得到证实的，我们将及时删除相关信息。我们仅接受邮寄、电子邮件或传真方式的书面侵权通知。情况紧急的，用户可以通过客服电话先行告知，我们会视情况采取相应措施
			                </p>
			                <p>
			                5.5.用户了解并同意，云筑天下不对因下述任一情况而导致用户的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其它无形损失的损害赔偿：
			                </p>
			                <p>
			                 （1）使用或未能使用云筑天下平台服务；
			                </p>
			                <p>
			                  （2）第三方未经批准地使用用户的账户或更改用户的数据；
			                </p>
			                <p>
			                  （3）通过云筑天下平台服务购买或获取任何商品、样品、数据、信息等行为或替代行为产生的费用及损失；
			                </p>
			                <p>
			                  （4）用户对云筑天下平台服务的误解；
			                </p>
			                <p>
			                  （5）任何非因云筑天下的原因而引起的与云筑天下平台服务有关的其它损失
			                </p>
			                <p>
			                 5.6.用户在云筑天下上使用第三方提供的产品或服务时，除遵守本协议约定外，还应遵守第三方的用户协议。云筑天下和第三方对可能出现的纠纷在法律规定和约定的范围内各自承担责任。
			                </p>
			                <p>
			                 5.7.用户同意在使用云筑天下平台服务过程中显示云筑天下自行或由第三方服务商向用户发送的推广或宣传信息（包括商业与非商业信息），其方式和范围可不经向用户特别通知而变更。除法律法规明确规定外，用户应自行对依该推广信息进行的交易负责，对用户因依该推广信息进行的交易或前述第三方服务商提供的内容而遭受的损失或损害，云筑天下不承担任何责任。
			                </p>
			                <p>
			                 5.8.云筑天下对下列不可抗力行为免责：信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能服务或延迟服务。
			                </p>
			                <p>
			                5.9.用户应当严格遵守本协议及云筑天下发布的其他协议、活动规则，因用户违反协议或规则的行为给第三方或云筑天下造成损失的，用户应当承担全部责任。
			                </p>
			                <p>
			                 5.10.云筑天下保留在中华人民共和国大陆地区法施行之法律允许的范围内独立决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。
			                </p>
			              </div>
			              <div>
			                <p><span>六、违约及协议终止</span></p>
			                <p>
			                 6.1.如果用户违反了本协议的约定，相关国家机关或机构可能会对用户提起诉讼、罚款或采取其他制裁措施，并要求云筑天下给予协助。造成损害的，用户应依法予以赔偿，云筑天下不承担任何责任。
			                </p>
			                <p>
			                6.2.用户违反本协议约定，导致任何第三方损害的，用户应当独立承担责任；云筑天下因此遭受损失的，用户也应当一并赔偿。
			                </p>
			                <p>
			                6.3.用户理解并同意，云筑天下有权依合理判断对违反有关法律法规或本协议规定的行为进行追究法律责任，对违法违规的任何用户采取适当的法律行动，并依据法律法规保存有关信息向有关部门报告等，用户应独自承担由此而产生的一切法律责任。
			                </p>
			                <p>
			                6.4.若用户运用云筑天下平台相关信息导致其损失，云筑天下不承担任何责任，若用户非法主张或不合理诉求导致云筑天下平台歇业或导致其营业损失，则云筑天下有权向用户主张承担赔偿营业损失（含预期可得利益）。
			                </p>
			                <p>
			                6.5.若出现云筑天下运营公司停业、解散等情形，则本协议自动终止。云筑天下对用户不承担任何赔偿或补偿，但有协助用户注销等义务。
			                </p>
			                <p>
			                 6.6.若云筑天下认为用户出现有可能会导致云筑天下负面影响的行为，则有权单方解除与该等用户的服务及协议，并不承担违约责任及赔偿责任。
			                </p>
			                <p>
			                  6.7.本协议约定的其他情形。
			                </p>
			              </div>
			              <div>
			                <p><span>七、隐私权政策</span></p>
			                <p>
			                7.1.用户同意云筑天下自动存储用户在使用云筑天下软件及服务的过程中产生的信息，包括但不限于位置信息、设备信息、日志信息。
			                </p>
			                <p>
			               7.2.云筑天下不会向合作伙伴提供、分享用户个人信息，除非合作伙伴根据云筑天下的指示并遵循云筑天下的隐私保护政策以及其他任何相应的保密和安全措施来处理这些信息。
			                </p>
			                <p>
			               7.3.在如下情况下，云筑天下可能会披露用户的个人信息：
			                </p>
			                <p>
			                  （1）事先获得用户的授权；
			                </p>
			                <p>
			                  （2）用户使用共享功能；
			                </p>
			                <p>
			                  （3）根据法律、法规、法律程序的要求或政府主管部门的强制性要求；
			                </p>
			                <p>
			                  （4）以学术研究或公共利益为目的，且不包含任何个人身份识别信息；
			                </p>
			                <p>
			                  （5）为维护云筑天下的合法权益，例如查找、预防、处理欺诈或安全方面的问题；
			                </p>
			                <p>
			                  （6）符合相关服务条款或使用协议的规定；
			                </p>
			                <p>
			                  （7）其他有利于云筑天下和用户共同利益目的。
			                </p>
			                <p>
			                 7.4.为了提供优质的服务，云筑天下会不定期收集用户使用服务的相关信息，这类信息包括但不限于以下：
			               </p>
			                <p>
			                  （1）在用户使用云筑天下服务，或访问云筑天下网页时，云筑天下自动接收并记录的用户的浏览器和计算机上的信息，包括但不限于用户的IP地址、实际所在位置的信息、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及用户需求的网页记录等数据；如用户下载或使用云筑天下或其关联公司客户端软件，或访问移动网页使用云筑天下服务时，云筑天下可能会读取与用户位置和移动设备相关的信息，包括但不限于设备型号、设备识别码、操作系统、分辨率、电信运营商等。
			                </p>
			                <p>
			                （2）在使用云筑天下服务，或访问云筑天下网页时，建议用户不要主动向云筑天下提供用户的个人敏感信息（如种族、宗教、政治立场、个人健康和医疗信息、性取向等），否则云筑天下不保证被意外收集的可能性。  
			                </p>
			                <p>
			                  （3）在用户使用云筑天下平台提供的专项服务时，云筑天下会依据专项服务的要求收集用户的其他必要信息。并将严格按照法律法规的要求进行信息的收集。用户应确保用户填写或提交的身份信息的真实性，否则云筑天下可选择拒绝为用户提供相关的服务。
			                </p>
			                <p>
			                 （4）除上述信息外，云筑天下还可能为了提供服务及改进服务质量的合理需要而收集用户的其他信息，包括用户与平台客户服务团队联系时所提供的相关信息，用户参与问卷调查时发送的问卷答复信息，以及用户与云筑天下的关联方、合作伙伴之间互动时收集的相关信息。与此同时，为提高用户使用云筑天下提供的服务的安全性，更准确地预防钓鱼网站欺诈和木马病毒，我们可能会通过了解一些用户的网络使用习惯、用户常用的软件信息等手段来判断用户账户的风险，并可能会记录一些我们认为有风险的URL。
			                </p>
			                <p>
			                  （5）云筑天下可能会通过小型数据文件识别用户的身份，这么做是帮用户省去重复输入注册信息的步骤，或者帮助判断用户的账户安全。这些数据文件可能是Cookie，Flash Cookie，或用户的浏览器或关联应用程序提供的其他本地存储（亦称为“Cookie”）。网页上常会包含一些电子图象（称为“单像素” GIF 文件或称 “网络 beacon”），使用网络beacon可以帮助网站计算浏览网页的用户或访问某些cookie，云筑天下会通过网络beacon收集用户浏览网页活动的信息，例如用户访问的页面地址、用户先前访问的援引页面的位址、用户停留在页面的时间、用户的浏览环境以及显示设定等。
			                </p>
			                <p>
			                7.5.云筑天下将不时修订隐私权条款，隐私权条款构成本协议的有效组成部分。
			                </p>
			                <p>
			                7.6.用户知悉并承诺在使用云筑天下的服务过程中，遵守隐私权条款/协议。
			                </p>
			              </div>
			              <div>
			                <p><span>八、协议效力及法律适用</span></p>
			                <p>
			                8.1.本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。
			                  </p>
			                <p>
			                 8.2.本协议内容包括本协议正文、隐私权条款，且用户在使用云筑天下某一特定服务时，该服务可能会另有单独的协议、抢单业务规则、相关业务规则等（以下统称为“规则”）。用户使用本软件即视为已阅读并同意受本协议的约束，云筑天下有权随时修改本协议的任何条款，一旦本协议的内容发生变动，云筑天下将会直接在平台上公布修改之后的协议内容，该公布行为视为云筑天下已经通知用户修改内容。同时云筑天下也可通过其他适当方式向用户提示修改内容。本协议条款变更后，如果用户继续使用本软件，即视为已接受修改后的协议。如果用户不接受修改后的协议，应当停止使用本软件。 
			                </p>
			                <p>
			                 8.3.本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。
			                </p>
			                <p>
			                8.4.在用户按照注册页面提示填写信息、阅读并同意本协议并完成全部注册程序后或以其他云筑天下允许的方式实际使用云筑天下服务时，用户即受本协议的约束。
			                </p>
			                <p>
			                8.5.云筑天下有权根据国家法律法规的更新、产品和服务规则的调整需要不时地制订、修改本协议及/或各类规则，并提前以网站公示的方式进行公示。如用户继续使用云筑天下服务的，即表示接受经修订的协议和规则。如发生有关争议时，以云筑天下最新的相关协议和规则为准。
			                </p>
			              </div>
			              <div>
			                <p><span>九、管辖与其他</span></p>
			                <p>
			                9.1.若用户和云筑天下之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，用户同意将纠纷或争议提交石榴籽科技有限公司住所地有管辖权的法院管辖。
			                </p>
			                <p>
			                9.2.云筑天下仅提供相关的网络服务，除此之外与相关网络服务有关的设备(如个人电脑、手机及其他与接入互联网或移动网有关的装置)及所需的费用(如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费)均由用户自行负责。
			                </p>
			                <p>
			                9.3.本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。
			                </p>
			                <p>9.4.本协议的解释权归石榴籽科技公司所有。</p>
			              </div>
			            </div>
			            <div class="mui-content-padded" >
							<button class="btn btn-green" @tap="isAgree">阅读完毕并同意</button>
						</div>
			
			        </div> 
					
			    </div>
	    	</transition>
	    </div>
	</body>
	<script>
		var _oldBack = mui.back; 
		var backButtonPress = 0;
		mui.back = function(event) {                    
		    backButtonPress++;
		    if (backButtonPress > 1) {
		        plus.runtime.quit();
		    } else {
		        plus.nativeUI.toast('再按一次退出应用');
		    }
		    setTimeout(function() {
		        backButtonPress = 0;
		    }, 1000);
		    return false;
		};
		new Vue({
			el:'#app',
			data:{
				index : 0,
				nextTap : true,
				agree : false,
				username : '',
				userpwd : '',
				deviceid:'',
				tel :'',
				code :'',
				isSend : false,
				timer : 60,
				isNext:true,
				invite_code :'',
				pwd:'',
				surepwd:'',
				isRegister : true,
				agreeshow:false,
			},
			computed:{
				register(){ 
					const {tel,code} = this
					return {
						tel,
						code
					}
				},
				sure(){
					const {pwd,surepwd,agree} = this
					return {
						pwd,
						surepwd,
						agree
					}
				}
			},
			watch:{
				register:{
					handler:function(val){
						if(val.tel && val.code){
							this.isNext = false
						}else{
							this.isNext = true
						}
					},
					deep:true
				},
				sure:{
					handler:function(val){
						if(val.pwd && val.surepwd && val.agree){
							this.isRegister = false
						}else{
							this.isRegister = true
						}
					}
				}
			},
			methods:{
				change(index){
					this.index = index
				},
				nextstep(){
					this.nextTap = false
					App.http('v1/publics.user/stepOne',{
						tel:this.tel,
						proving : this.code,
						invite_code : this.invite_code
					},function(data,status){
						if(data.status == 1){
							this.nextTap = false
						}
					})
				},
				login:function(){
					if(this.username == ''){
						mui.toast('请填写手机号或身份证');
						return;
					}
					if(this.userpwd == ''){
						mui.toast('请填写密码');
						return;
					}
					App.http('v1/publics.user/login/url', {
						account:this.username,
			            pwd:this.userpwd,
			            deviceid:this.deviceid
					},function(data) {
						if(data.status == 1){
							App.setItem('token', data.data.token);
							App.setItem('user',data.data.userinfo);
							upDevice();
							this.username = '';
							this.userpwd = '';
							//更新数据 
							App.send('page/project/index.html', 'update');
							App.send('page/my/index.html', 'update');
							mui.toast('登陆成功');
//							mui.currentWebview.close('slide-out-bottom',300);
							var index=plus.webview.getLaunchWebview();//获得初始窗口
							plus.webview.show(index);//打开初始窗口
						}
						mui.toast(data.msg);
//						return;

					});	
				},
				getCode:function(){
					var that = this;
					App.http('v1/publics.sms/sendRegSms/url', {
						phone:this.tel
					},function(data, status) {
						console.log(JSON.stringify(data))
			            mui.toast(data.msg, {duration: 'short', type: 'button'});
			            if(data.status==1){
			            	that.gettimer();
			            }
			            
					});	
				},
				gettimer:function(){
					
			        var that = this;
			        this.isSend = true;
			        var time=setInterval(function(){
			          	that.timer--;
			          	if(that.timer==0){
				            that.isSend=false;
				            that.timer=60;
				            clearInterval(time);
			          	}
			        },1000)
			    },
			    signUp:function(){
			    	if(this.pwd != this.surepwd){
			    		mui.toast('两次密码不一致');
						return;
			    	}
			    	new Promise((resolve,reject)=>{
			    		App.http('v1/publics.user/register',{
				    		tel : this.tel,
				    		pwd : this.pwd,
				    		invite_code : this.invite_code
				    	},function(data,status){
				    		if(data.status == 1){
								mui.toast('注册成功');
								resolve();
							}
							mui.toast(data.msg);
				    	})
			    		
			    	}).then(()=>{
			    		App.http('v1/publics.user/login/url', {
							account:this.tel,
				            pwd:this.pwd,
				            deviceid:this.deviceid
						},function(data) {
							if(data.status == 1){
								App.setItem('token', data.data.token);
								App.setItem('user',data.data.userinfo);
								upDevice();
								//更新数据 
								App.send('page/project/index.html', 'update');
								App.send('page/my/index.html', 'update');
								mui.toast('登陆成功');
								mui.currentWebview.close('slide-out-bottom',300);
							}
							mui.toast(data.msg);
	//						return;
	
						});	
			    	})
			    	
			    },
			    read:function(){
			        this.agreeshow=true;
			    },
				isAgree:function(){
					this.agree = true;
					this.agreeshow = false;
				},
				
			},
			mounted:function(){
				mui.plusReady(function(){
//						获取设备信息
				    var info = plus.push.getClientInfo();
//				    console.log(JSON.stringify(info))
					if(info.clientid == ''){
						mui.toast('没有获取到您的设备信息');
						return;
					}else{
						this.deviceid = info.clientid;
				   	}
					
				});
			}
		})
	</script>
</html>
