<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../../../css/mui.min.css" />
		<link rel="stylesheet" href="../../../css/base.css" />
		<link rel="stylesheet" href="../../../css/main.css" />
		<script type="text/javascript" src="../../../js/e_fish.js" ></script>
		<script type="text/javascript" src="../../../js/mui.min.js" ></script>
		<script type="text/javascript" src="../../../js/vue.js" ></script>
	</head>
	<style>
		body{
			background-color: #f7f7f9;
		}
		.mui-table-view-cell{
			padding: 0;
		}
		.mui-table-view-cell:after{
			background-color: transparent;
		}
	</style>
	<body id="e_fish_container">
		<div id="app">
			<div class="y_container bg-grey pt20">
				<div class="mui-table-view-cell" v-if="selected" to="my/wallet/chooseCard" title="none" v-bind:param = 'selected | formatParam'>
					<div class="y_back_type bg-ff plr30 ub ub-ac ptb20">
						<div class="y_back_choose">
							<img :src="selected.phone_icon_s" alt="" />
						</div>
						<div class="ub-f1 pl30">
							<p class="fz32 c33">{{selected.name}}</p>
							<p class="fz32 c66">尾号{{selected.bank_no|getLastNum}}储蓄卡</p>
						</div>
						<div class="y_arrow"></div>
					</div>
				</div>
				<div class="mt20 bg-ff plr30 pt40">
					<div class="bb"> 
						<p class="fz32 c66 pb30">提现金额</p>
						<div class="y_forward_money ub ub-ac">
							<span>￥</span>
							<input type="number" name="" id="" value="0" placeholder="0" class="ub-f1 mui-input-clear" v-model="item.money" />
						</div>
					</div>
					<div class="ub ub-ac ptb25 fz28">
						<p class="ub-f1  c-red" v-if="balance > item.money">金额已超出可提现余额</p>
						<p class="ub-f1  c99" v-else>可用余额{{balance}}元</p>
						<span class="c-green" @tap="allMoney">全部提现</span>
					</div>
				</div>
				<div class="plr30 pb30">
					<p class="ptb20 fz28 c66">预计7个工作日内到账,实际到账情况请关注银行账户</p>
					<button class="btn btn-green  mt20" @tap="withdraw" :disabled="item.card_id == 0 || item.bank_no=='' || item.money ==0 || balance <=0 || parseInt(item.money) > balance">申请提现</button>
				</div>
			</div>
		</div>
		<script>
			new Vue({
				el:"#app",
				data :function() {
				    return {
				    	balance:0,
				    	list:[],
				    	selected:{},
				    	item:{
				    		card_id:0,
				    		bank_no:'',
				    		money:0
				    	},
				    	card_id :''
				    }
				},
				methods:{
					getlist:function(){
						this.balance= App.getItem('balance');
						this.selected = App.getItem('selected')
						console.log(JSON.stringify(this.selected))
						App.http('v1/user.base/bankCardList', {},function(data, status) {
				            this.list = data.data.list;
//				            this.selected = this.list[0];
				            if(this.selected){
					            this.item.card_id = this.selected.card_id;
					            this.item.bank_no = this.selected.bank_no;
//					            this.item.money = this.balance;
				            }else if(this.list[0]){
				            	this.selected = this.list[0];
				            }else{
				            	mui.plusReady(function() {
					            	mui.confirm('您需要绑定银行卡才能提现？', '', ['取消', '确定绑定'], function(e) {
										if (e.index == 1) {
											var page={"url":"user/account/addcard","title":"绑定银行卡","ani":"slide-out-top"};
											App.open(page);
											
										}else{
											mui.back();
										}
									})
				            	});
		
				            }
						}.bind(this));	
							
					},
					withdraw:function(){
						
						App.http('v1/user.base/withdrawApply', this.item,function(data, status) {
							mui.toast(data.msg);
							if(data.status!=1){
								return false;
							}
							App.send('user/account/index', 'update');
				            mui.back();
						}.bind(this));	
							
					},
					select:function(item){
						this.card_id = item.card_id;
				        this.bank_no = item.bank_no;
				        this.selected = item;
				        mui('#cardlist').popover('toggle');
					},
					allMoney:function(item){
						this.item.money = this.balance;	
					},
					
				},
				filters: {
			        getLastNum: function (value) {
			        	if(value){
			        		return value=='' ? '' : value.slice(-4);
			        	}
			        },
			        formatParam: function(item) {
						return '{card_id:"' + item.card_id + '"}';
					},
					formatCard:function(item){
						return item.card_id == this.card_id
					}
			    },
				mounted:function(){
					this.getlist();
				    //状态更改监听
					App.request('update', function() {
						this.getlist();
					}.bind(this));
				}
			})
		</script>
	</body>
</html>
