<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../../../css/mui.min.css" />
		<link rel="stylesheet" href="../../../css/base.css" />
		<link rel="stylesheet" href="../../../css/main.css" />
		<script type="text/javascript" src="../../../js/e_fish.js" ></script>
		<script type="text/javascript" src="../../../js/mui.min.js" ></script>
		<script type="text/javascript" src="../../../js/vue.js" ></script>
	</head>
	<style>
		.mui-content{
			background-color: #fff;
		}
		.mui-table-view-cell{
			padding: 0;
		}
		.mui-table-view-cell:after{
			background-color: transparent;
		}
		/*.mui-bar-nav~.mui-content{
			padding-top: 1.28rem;
		}*/
		.mui-table-view-chevron .mui-table-view-cell{
			padding-right: 0;
		}
	</style>
	<body id="e_fish_container">
		<div id="app">
			<!--下拉刷新容器-->
			<div id="pullrefresh2" class="mui-content mui-scroll-wrapper">
				<div class="mui-scroll">
					<!--数据列表-->
					<div v-if="list.length == 0" style="margin: 80px;text-align: center;font-size: 16px;color: #ccc;">啊哦，暂时没有数据 ⊙﹏⊙ </div>
					<ul class="mui-table-view mui-table-view-chevron" v-else>
						<li class="bb ptb25 plr30" v-for="(item,index) in list">
							<div class="ub ub-ac">
								<p class="ub-f1 fz28 c66">{{timestampToTime(item.addtime)}}</p>
								<span class="c-red">+{{item.wages}}元</span>
							</div>
							<p class="fz28 c33 word-break">{{item.remarks}}</p>
						</li>
						<!--<li class="mui-table-view-cell" v-for="(item,index) in list">
							<div class="bb ptb25 plr30">
								<div class="ub-f1">
									<div class="ub ub-ac">
										<p class="fz28 c33" v-if="item.type==1">工资到账</p>
										<p class="fz28 c33" v-else>提现</p>
										<span class="y_reflect_examine" v-if="item.status==1">【审核中】</span>
										<span class="y_reflect_error" v-else-if="item.status==2">【提现失败】</span>
										<span class="y_reflect_success" v-else>【提现成功】</span>
									</div>
									<p class="fz24 c33">{{item.remark}}</p>
								</div>
								<div class="tx-r">
									<p class="fz24 c99">{{item.addtime}}</p>
									<p class="fz28 c33 fw-b" v-if="(item.type==1) || (item.type==3)">+{{item.money}}</p>
									<p class="fz28 c33 fw-b" v-else-if="item.type == 2">-{{item.money}}</p>
								</div>
							</div>
						</li>-->
					</ul>
				</div>
			</div>
		</div>
		<script>
			new Vue({
				el:"#app",
				data: function() {
					return {
						sn : '',
						list: [],
						page: 1,
						//上拉状态
						plusscrollbottom: false

					}
				},
				methods: {
					getlist: function(type) {
						App.http('v1/user.payroll/detail/url', {
							page: this.page,
							sn : this.sn
						}, function(data, status) {
							console.log(JSON.stringify(data.data))
							this.page = data.data.current_page;
							/**
							 * 默认关闭下拉提示
							 */
							mui('#pullrefresh2').pullRefresh().endPulldown();
							/**
							 * 返回数据为空的时候
							 */
							if(data.data.data.length == 0) {

								/**
								 * 取消上拉加载更多提示
								 */
								mui('#pullrefresh2').pullRefresh().endPullupToRefresh(true);
								return false;
							}
							/**
							 *  总条数等于当前显示条数
							 */
							console.log(data.data.total)
							console.log(this.list.length)
							if(data.data.total == this.list.length) {
								/**
								 * 取消上拉加载更多提示
								 */
								console.log('none')
								mui('#pullrefresh2').pullRefresh().disablePullupToRefresh();
							}
							/**
							 * 取消上拉加载中提示
							 */
							mui('#pullrefresh2').pullRefresh().endPullupToRefresh(false);
							/**
							 * 如果是上拉，则 push 数据
							 */
							if(type == 'add') {
								for(var i = 0; i < data.data.data.length; i++) {
									this.list.push(data.data.data[i]);
								}
						
								return;
							}
							this.list = data.data.data;
						}.bind(this),'get');
					},
					timestampToTime:function(timestamp) {
		                var date = new Date(timestamp * 1000);
		                Y = date.getFullYear() + '-';
		                M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
		                D = date.getDate() + ' ';
		                h = date.getHours() + ':';
		                m = date.getMinutes() + ':';
		                s = date.getSeconds();
		                return Y+M+D+h+m+s;
		            },
				},
				mounted: function() {
					mui.init({
						pullRefresh: {
							container: "#pullrefresh2", //下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
							up: {
								height: 50, //可选.默认50.触发上拉加载拖动距离
								auto: false, //可选,默认false.自动上拉加载一次
								contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
								contentnomore: '', //可选，请求完毕若没有更多数据时显示的提醒内容；
								callback: function() {
									this.page++;
									this.getlist('add');
								}.bind(this)
							},
							down: {
								style: 'circle', //必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
								color: '#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
								height: '50px', //可选,默认50px.下拉刷新控件的高度,
								range: '100px', //可选 默认100px,控件可下拉拖拽的范围
								offset: '0px', //可选 默认0px,下拉刷新控件的起始位置
								auto: false, //可选,默认false.首次加载自动上拉刷新一次
								callback: function() {
									mui('#pullrefresh2').pullRefresh().refresh(true);
									this.page = 1;
									this.getlist();
								}.bind(this)
							}
						}
					});
					mui.plusReady(function(){
						var self = plus.webview.currentWebview();
						this.sn = self.sn;
						this.getlist();
					}.bind(this))
				}
			})
		</script>
	</body>
</html>
