<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title></title>
		<link rel="stylesheet" href="../../../css/mui.min.css" />
		<link rel="stylesheet" href="../../../css/base.css" />
		<link rel="stylesheet" href="../../../css/main.css" />
		<script type="text/javascript" src="../../../js/e_fish.js" ></script>
		<script type="text/javascript" src="../../../js/mui.min.js" ></script>
	</head>
	<style>
		.y_right{
			padding-top: 0.4rem;
		}
		.mui-table-view-cell:after{
			background-color: transparent;
		}
		.mui-table-view-cell{
			padding: 0;
		}
		.modal {
			right: 0;
			top: 50%;
			background: #fff;
			text-align: center;
			height: 100%;
			overflow: auto;
			width: 100%;
			padding: 10px;
		}
		.y_choose_address .mui-table-view-cell{
			padding: 0.3rem;
		}
	</style>
	<body id="e_fish_container">
		<div id="app">
			<header class="mui-bar mui-bar-nav mui-bar-transparent header">
				<a id="icon-menu" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h2 class="mui-title">编辑收货地址</h2>
				<div class="fz32 y_right" @tap="delet">删除</div>
			</header>
			<div class="fix_hd plr30">
				<div class="mb40">
					<div class="bb ub bb ub-ac mui-table-view-cell">
						<p class="fz28 c33 y_title">联系人：</p>
						<div class="mui-input-row y_input_address">
					    	<input type="text" class="mui-input-clear" placeholder="请填写收货人的姓名" v-model="item.nickname">
					    </div> 
					</div>
					<div class="bb ub bb ub-ac mui-table-view-cell">
						<p class="fz28 c33 y_title">手机号：</p>
						<div class="mui-input-row y_input_address">
					    	<input type="number" class="mui-input-clear" placeholder="请填写收货手机号码" v-model="item.mobile">
					    </div>
					</div>
					<div class="bb ub bb ub-ac mui-table-view-cell" @tap="isShow=true;get(0);">
						<p class="fz28 c33 y_title">收货地址：</p>
						<div class="y_icon y_local"></div>
						<div class="y_input_address" v-if="!province">
                            <input type="text" placeholder="点击选择" readonly="readonly" >
                        </div>
                        <div class="y_input_address ub ub-ac" v-else>
                            <span>{{province}}{{city}}{{area}}</span>
                        </div>
					</div>
					<div class="bb ub bb ub-ac mui-table-view-cell">
						<p class="fz28 c33 y_title">详细地址：</p>
						<div class="mui-input-row y_input_address">
					    	<input type="text" class="mui-input-clear" placeholder="请填写到货详细地址" v-model="item.det_add">
					    </div>
					</div>
				</div>
				<button class="btn btn-green" type="button" @tap="save">保存</button>
				
			</div>
			<div v-show="isShow" class="modal mui-popup mui-popup-in y_choose_address">
				<div style="margin: 10px 0 20px 0;">请选择省市区</div>
				<ul class="mui-table-view" v-for="(item,index) in list" @tap="select(item)">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" style="text-align: left;">{{item.name}}</a>
					</li>
				</ul>
			</div>
		</div>
		<script>
			var _oldBack = mui.back; 
			var backButtonPress = 0;
			mui.back = function(event) {      
				var btnArray = ['确定', '取消']; 
				mui.confirm('确定放弃此编辑', '', btnArray, function(e) {
					if (e.index == 0) {
						_oldBack()
					} else {
						return
					}
				})
			};
			new Vue({
				el:'#app',
				data:function(){
					return {
						id:'',
						item:{},
						address : '',
						isShow: false,
						type: 'province',
						param: {
							det_add: '',
							live_province: 0,
							live_city: 0,
							live_area: 0,
							//奇葩接口数据
							name: '',
							card: '',
							province: '',
							city: '',
							area: ''
	
						},
						list: [],
						province: '',
						city: '',
						area: '',
					}
				},
				methods:{
					get: function(code, type) {
						var url = '';
						switch(type) {
							case 'province':
								url = 'v1/user.base/getProvinceList';
								break;
							case 'city':
								url = 'v1/user.base/getCityList';
								break;
							case 'area':
								url = 'v1/user.base/getAreaList';
								break;
							default:
								url = 'v1/user.base/getProvinceList';
								break;
						}
						App.http(url, {
								code: code
							}, function(data, status) {
								this.list = data.data.list;
	//
	//							if(data.data.list.length == 0) {
	//								this.isShow = false;
	//								this.type = 'province';
	//								this.id = 0;
	//							}
							}.bind(this));
	
					},
					select: function(item) {
						if(this.type == 'province') {
							this.type = 'city';
							this.item.province = item.id;
							this.province = item.name;
							this.item.province_text = item.name
							this.get(item.code, 'city');
						} else if(this.type == 'city') {
							this.type = 'area';
							this.item.city = item.id;
							this.city = item.name;
							this.item.city_text = item.name
							this.get(item.code, 'area');
						} else if(this.type == 'area') {
							this.item.county = item.id;
							this.area = item.name;
							this.item.county_text = item.name
							this.isShow = false;
							this.type = 'province';
						}
					},
					getAddress:function(){
						App.http('v1/user.address/getOne', {
							id: this.id
						}, function(data, status) {
							this.item = data.data;  
							this.province = data.data.province_name;
							this.city = data.data.city_name;
							this.area = data.data.county_name
						}.bind(this),'get');
					},
					save:function(){
						if(this.item.det_add == ''){
							mui.toast('请填写详细地址')
							return
						}
						App.http('v1/user.address/edit', this.item, function(data, status) {
							if(data.status != 1) {
								mui.toast(data.msg);
								return false;
							}
							App.send('find/shop/shop', 'update');
							App.send('find/shop/shop', 'updateAddress',this.item);
							this.item = {}
							mui.toast('修改成功');
							var page = {
								"url":'find/shop/shop',
								"title":"兑换",
								"ani":"none"
							}
							App.open(page)
							
						}.bind(this));
					},
					delet:function(){
						let that = this;
						mui.confirm('是否删除地址', '删除地址后无法恢复', ['取消', '确认'], function(e) {
							if(e.index == 1) {
								console.log(that.id)
								App.http('v1/user.address/del', {
									id:that.id
								}, function(data, status) {
									if(data.status != 1) {
										mui.toast(data.msg);
										return false;
									}
									this.item = {}; 
									App.send('find/shop/shop', 'update');
									let page = {
										"url":'find/shop/shop',
										"title" : '兑换',
										"ani" : "slide-out-top"
									}
									App.open(page)
									mui.toast('删除成功');
								}.bind(this));
							}

						});
						
					}
				},
				mounted:function(){
					mui.plusReady(function() {	
						var self = plus.webview.currentWebview();
						this.id = self.addressid;
						this.getAddress();
					}.bind(this)); 
				}
			})
		</script>
	</body>
</html>
