<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title></title>
		<link rel="stylesheet" href="../../../css/mui.min.css" />
		<link rel="stylesheet" href="../../../css/base.css" />
		<link rel="stylesheet" href="../../../css/main.css" />
		<script type="text/javascript" src="../../../js/e_fish.js" ></script>
		<script type="text/javascript" src="../../../js/mui.min.js" ></script>
		<script type="text/javascript" src="../../../js/vue.js" ></script>
	</head>
	<style>
		body{
			background-color: rgba(247,247,249,1);
		}
		.mui-table-view-cell{
			padding:  0 ;
		}
		.mui-table-view-cell:after{
			background-color: transparent;
		}
		.fix_hd{
			padding-top: .58rem;
		}
		.mui-off-canvas-left, .mui-off-canvas-right{
			background: #fff;
		}
		#offCanvasSideScroll .mui-table-view-cell{
			padding: 0.3rem;
		}
		.mui-scroll-wrapper{
			width: 50%;
		}
		.skill_box{
			right: 0;
			left: auto;
			background: #fff;
		}
		.skill_box li{
			padding: 0.15rem 0.44rem;
		}
	</style>
	<body id="e_fish_container">
		<div id="app">
			<div class="ub">
				<div class="ub-1f2">
					<div class="mui-content mui-scroll-wrapper ">
						<div class="mui-scroll">
							<div class="mui-table-view-cell" :class="{'bg-ff':chooseIndex == index}" v-for="(item,index) in typelist" @tap="offcanvasShow(item,index)">
								<div class="ptb35 ub ub-ac plr30">
									<p class="fz32 c33 y_title">{{item.text}}</p> 
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ub-1f2">
					<div class="mui-scroll-wrapper skill_box">
						<div class="mui-scroll">
							<ul class="fz28 c66"> 
								<li class="word-break mui-table-view-cell" v-for="tag in skilllist" @tap="setSkill(tag)">{{tag.text}}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--<aside id="offCanvasSide" class="mui-off-canvas-right">
				<div id="offCanvasSideScroll" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<ul class="fz28 c66">
							<li class="word-break mui-table-view-cell" v-for="tag in skilllist" @tap="setSkill(tag)">{{tag.text}}</li>
						</ul>
					</div>
				</div>
			</aside>
			<div class="mui-inner-wrap">
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-table-view-cell bg-ff" v-for="item in typelist" @tap="offcanvasShow(item)">
							<div class="bb ptb35 ub ub-ac plr30" >
								<p class="fz32 c33 y_title">{{item.text}}</p>
								<div class="ub-f1"></div>
								<div class="y_arrow"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="mui-off-canvas-backdrop"></div>
			</div>-->
		</div>
		<script>
			new Vue({
				el:'#app',
				data:function(){
					return {
						typelist: [], 
						skilllist: [],
						item:{},
						chooseIndex : 0
					}
				},
				methods:{
					offcanvasShow:function(item,index){
						this.item = item
						this.chooseIndex = index
						//获取技能名称
						App.http('v1/publics.skill/getList', {
							type: item.value
						}, function(data, status) {
							var list = [];
							for(var i = 0; i < data.data.list.length; i++) {
								list.push({
									value: data.data.list[i].skill_id,
									text: data.data.list[i].name
								});
							}
							this.skilllist = list;
//							mui('.mui-off-canvas-wrap').offCanvas('show');
						}.bind(this));
					},
					/*
					 *获取技能类型
					*/
					gettype: function() {
						new Promise((resolve,reject)=>{
							App.http('v1/publics.skill/getList', {}, function(data, status) {
								var list = [];
								for(var i = 0; i < data.data.list.length; i++) {
									list.push({
										value: data.data.list[i].skill_id,
										text: data.data.list[i].name
									});
								}
								this.typelist = list;
								resolve()
							}.bind(this));
						}).then(()=>{
							this.offcanvasShow(this.typelist[0],0)
						})
						
					},
					setSkill:function(tag){
						App.setItem('skill_type', this.item);
						App.setItem('skill_name', tag);
				        App.send('my/skill/addSkill', 'update');
				        var page={
								"url":"my/skill/addSkill",
								"title":"none",
								"ani":"slide-out-top"
							};
						App.open(page);
						mui('.mui-off-canvas-wrap').offCanvas('close');
					}
				},
				mounted:function(){
					mui.plusReady(function() {
						this.gettype();
					}.bind(this));
					mui('.mui-scroll-wrapper').scroll({
						deceleration: 0.0005 //flick 减速系数，系数越大，滚动速度越慢，滚动距离越小，默认值0.0006
					});
				}
			})
		</script>
	</body>
</html>
