<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" href="../../../css/mui.min.css" />
		<link rel="stylesheet" href="../../../css/base.css" />
		<link rel="stylesheet" href="../../../css/main.css" />
		<script type="text/javascript" src="../../../js/e_fish.js" ></script>
		<script type="text/javascript" src="../../../js/mui.min.js" ></script>
		<script type="text/javascript" src="../../../js/vue.js" ></script>
	</head>
	<style>
		.y_input_item{
			margin-top: 0;
		}
	</style>
	<body id="e_fish_container">
		<div id="app">
			<div class="y_container plr40 pt30">
				<p class="c-red2 fz28 word-break pb30 y_error_tip" v-if="errInfo">认证失败原因：{{errInfo}}。</p>
				<div class="y_name_tip plr30">
					<p class="fz28 c66 pt20 word-break">实名认证成功后</p>
					<ul class="y_name_rulse fz28 c99 word-break">
						<li>1.完成实名认证即可开始抢单。</li>
						<li>2.您的页面中将明确显示“已认证”，提升您的个人 形象，赢得更多工作。 </li>
						<li>3.所有项目真实有效，平台所有工人/企业均已通过 实名认证。</li>
						<li>4.可使用身份证号进行登录。</li>
					</ul>
				</div>
				<form action="" method="">
					<div class="y_card_fill">
						<div class="y_card_item ub ub-ac">
							<p>真实姓名</p>
							<div class="mui-input-row y_input_item ub-f1 y_card_input ub  ub-ac">
						    	<input type="text" class="mui-input-clear" placeholder="请输入真实姓名" v-model='item.name'>
						    </div>
						</div>
						<div class="y_card_item ub ub-ac">
							<p>身份证号码</p>
							<div class="mui-input-row y_input_item ub-f1 y_card_input ub  ub-ac">
						    	<input type="text" class="mui-input-clear" placeholder="请输入身份证号码" v-model='item.card' v-on:blur="codeCard">
						    </div>
						</div>
						<div class="y_card_item ub ub-ac" @tap="isShow=true;get(0);">
							<p>身份证住址</p>
							<div class="ub-f1 y_card_input ub  ub-ac">
								<span>{{item.live_province}}{{item.live_city}}{{item.live_county}}</span>
							</div>
						</div>
					</div>
					<div class="y_photo_box tx-c">
						<p class="fz28 c33">上传身份证正反面及本人手持身份证照片</p>
						<div class="y_card_face y_card_pic" @click="uploadCard('just')">
							<img v-if="item.id_card_just !=''" :src="item.id_card_just" />
							<img v-else src="../../../images/y-card-face.png" alt="" />
						</div>
						<div class="y_photot_btn" @tap="uploadCard('just')"></div>
						<p class="fz32 c00 pt20">身份证正面照</p>
						<div class="y_card_back y_card_pic">
							<img v-if="item.id_card_back !=''" :src="item.id_card_back" />
							<img v-else src="../../../images/y-card-back.png" alt="" />
						</div>
						<div class="y_photot_btn" @tap="uploadCard('back')"></div>
						<p class="fz32 c00 pt20">身份证背面照</p>
						<div class="y_card_people y_card_pic">
							<img v-if="item.id_card_in_hand !=''" :src="item.id_card_in_hand" /> 
							<img v-else src="../../../images/y-card-people.png" alt="" />
						</div>
						<div class="y_photot_btn" @tap="uploadCard('hand')"></div>
						<p class="fz32 c00 pt20">本人手持身份证照</p>
					</div>
					<button class="btn btn-green mb30" type="button" @tap="upload">提交实名认证</button>
				</form>
			</div>
			<div v-show="isShow" class=" mui-popup mui-popup-in" style="right: 0;top:50%;background: #fff;text-align: center;height: 100%;overflow: auto;width: 100%;padding: 10px;">
				<div style="margin: 10px 0 20px 0;">请选择省市区</div>
				<ul class="mui-table-view" v-for="(item,index) in list" @tap="select(item)">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right" style="text-align: left;">{{item.name}}</a>
					</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">
			new	Vue({
				el:"#app",
				data:function(){
					return {
						isShow: false,
						type: 'province',
						list: [],
						province: '',
						city: '',
						county: '',
						item: {
							name: '',
							card: '',
							province: 0,
							city: 0,
							county: 0,
							//奇葩接口数据
							det_add: '',
							live_province: '',
							live_city: '',
							live_county: '',
							id_card_just: '',
							id_card_back: '',
							id_card_in_hand: ''
						},
//						idcard: {
//							id_card_just: '',
//							id_card_back: '',
//							id_card_in_hand: ''
//						},
						errInfo : '',
						isCardTrue:true
					}
				},
				methods:{
					get: function(code, type) {
						var url = '';
						switch(type) {
							case 'province':
								url = 'v1/user.base/getProvinceList';
								break;
							case 'city':
								url = 'v1/user.base/getCityList';
								break;
							case 'area':
								url = 'v1/user.base/getAreaList';
								break;
							default:
								url = 'v1/user.base/getProvinceList';
								break;
						}

						App.http(url, {
							code: code
						}, function(data, status) {
							this.list = data.data.list;
						}.bind(this));
					},
			
					select: function(item) {
						if(this.type == 'province') {
							this.type = 'city';
							this.item.province = item.id;
							this.item.live_province = item.name;
							this.city = "";
							this.area = "";
							this.get(item.code, 'city');
						} else if(this.type == 'city') {
							this.type = 'area';
							this.item.city = item.id;
							this.item.live_city = item.name;
							this.area = "";
							this.get(item.code, 'area');
						} else if(this.type == 'area') {
							this.item.county = item.id;
							this.item.live_county = item.name;
							this.isShow = false;
							this.type = 'province';
						}
					},
					upload: function() {
						if(this.item.name==''){
							mui.toast('请填写姓名');
							return false;
						}
						if(this.item.card==''){
							mui.toast('请填写身份证号码');
							return false;
						}
						if(this.item.live_county==''){
							mui.toast('请填写详细地址');
							return false;
						}
						if(this.item.id_card_back==''){
							mui.toast('请上传完整的身份证反面照');
							return false;
						}
						if(this.item.id_card_just==''){
							mui.toast('请上传完整的身份证正面照');
							return false;
						}
						if(this.item.id_card_in_hand==''){
							mui.toast('请上传完整的手持身份证照');
							return false;
						}
//						console.log(JSON.stringify(this.item)) 
						console.log(this.isCardTrue)
						if(this.isCardTrue){
							App.http('v1/user.base/identityAuth', this.item, function(data, status) {
								if(data.status == 1){
									mui.toast('操作成功，请等待审核');
									App.send('my/userInfo/index', 'update');
									App.send('my/index', 'update');
									mui.back();
								}
								mui.toast(data.msg)
							}.bind(this));
						}
						
					},
					uploadCard: function(type) {
						App.images('v1/user.base/uploadCard', function(data, status) {
							if(data.status != 1) {
								mui.toast(data.msg);
								return false;
							}
							if(type == 'just') {
								this.item.id_card_just = data.data.url;
							} else if(type == 'back') {
								this.item.id_card_back = data.data.url;
							}else{
								this.item.id_card_in_hand = data.data.url;
							}

						}.bind(this));
					},
					/**
					 * 验证身份证是否为18位
					 * */
					codeCard:function(){
						console.log(this.item.card.length)
						if(this.item.card.length != 18){
							mui.toast('身份证号码格式有误');
							this.isCardTrue = false
						}else{
							this.isCardTrue = true
						}
						console.log(this.isCardTrue)
					}
				},
				mounted:function(){
					App.http('v1/user.base/getIdentityInfo', {}, function(data, status) {
//						console.log(JSON.stringify(data.data));
//						this.item.det_add = data.data.det_add;
						this.item.province = data.data.province_id;
						this.item.city = data.data.city_id;
						this.item.county = data.data.county_id;
						this.errInfo = data.data.reason;
						this.item.name = data.data.name;
						this.item.card = data.data.card; 
						this.item.live_province = data.data.province;
						this.item.live_city = data.data.city;
						this.item.live_county = data.data.county; 
						this.item.id_card_just = data.data.id_card_just;
						this.item.id_card_back = data.data.id_card_back;
						this.item.id_card_in_hand = data.data.id_card_in_hand;
					}.bind(this),'get');
				}
				
			})
		</script>
	</body>
</html>
