<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title></title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" href="../../css/main.css" />
		<script type="text/javascript" src="../../js/e_fish.js"></script>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
	</head>
	<style>
		.y_right{
			margin-top: 0.2rem;
		}
	</style>
	<body id="e_fish_container">
		<div id="app">
			<header class="mui-bar mui-bar-nav mui-bar-transparent header">
				<a id="icon-menu" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h2 class="mui-title">查看详情</h2>
				<div v-if="item.is_cancel==1" class="y_collect y_icon y_right active"  @tap="follow(0)"></div>
				<div v-else class="y_collect y_icon y_right"  @tap="follow(1)"></div>
				<a href="#sheet1">
					<div class="y_share_hd y_right y_icon"  @tap="share"></div>
				</a>
				<!--<div class="y_share_hd y_right y_icon" @tap="share"></div>-->
			</header>
			<div class="fix_hd">
				<div class="y_details_info bg-ff mb20 fix_btn">
					<div class="ptb25 plr30">
						<div class="ub">
							<div class="ub-f1 word-break pr20">
								<p class="fz44 c33 fw-b word-break">{{item.skill_name}}</p>
								<div class="fz28 c66 y_label pt20 word-break">
									<span>{{item.province}}-{{item.city}}</span>
									<span class="cc7">|</span>
									<span>{{item.aptitude | formatCertificates}}</span>
									<span class="cc7" v-if="item.aptitude == 2">|</span>
									<span>{{item.sex | formatSex}}</span> 
									<span class="cc7">|</span>
									<span>{{item.age | formatAge}}</span>
								</div>
								<ul class="y_tag_list clear fz24 pt30 mb30">
									<li v-for="tag in spilceNum(workfare)">{{tag}}</li>
								</ul>
							</div>
							<div class="tx-r">
								<p class="fz28 c-red fw-b" v-if="item.skill_type==6">面议</p>
								<p v-if="item.skill_type!=6" class="fz28 c-red fw-b">{{item.wages}}元/{{item.skill_type | formatUnit}}</p>
								<p  class="fz24 c66 pt20">{{timestampToTime(item.addtime)}}</p>
							</div>
						</div>
						<div class="ptb40 bt word-break">
							<p class="fz28 c33">{{item.project_name}}</p>
							<p class="fz28 c99 pt20">{{item.company_name}}</p>
						</div>
						<div class="ptb40 bt">
							<p class="fz28 c33" v-if="item.skill_stime!=0">开工时间：{{item.skill_stime}}</p>
							<div class="ub ub-ac pt20" to="project/map" title="项目地址" v-bind:param="item | formatParam">
								<p class="fz28 c99  ub-f1 word-break">项目地址：{{item.address}} {{item.det_add}}</p>
								<div class="y_arrow"></div>
							</div>
						</div>
						<div class="ptb40 bt word-break">
							<p class="fz32 fw-b c33">项目详情</p>
							<p class="fz28 c66 pt20">项目工期:<span>{{item.duration}}日历天</span></p>
							<p class="fz28 c66 pt20">项目类型:<span>{{item.type_name}}</span></p>
							<p class="fz28 c66 pt20">项目法人:<span>{{item.legal}}</span></p>
							<p class="fz28 c66 pt20">监理公司:<span>{{item.com_name}}</span></p>
							<p class="fz28 c66 pt20">项目经理:<span>{{item.management_name}}</span></p>
						</div>
						<div class="ptb40 bt word-break">
							<p class="fz32 fw-b c33">项目描述</p>
							<p class="fz28 c66 pt20">{{item.project_name}}</p>
							<p class="fz28 c66 pt20">{{item.description}}</p>
						</div>
					</div>
				</div>
				<div class="fix_box" v-if="item.per_del == 2">
					<button class="btn btn-green" type="button" @tap="confirm" >抢单</button>
				</div>
				<div class="fix_box" v-if="item.per_del == 1">
					<button class="btn btn-green" type="button" disabled="disabled">已抢单</button> 
				</div>
			</div>
			<div id="sheet1" class="mui-popover mui-popover-bottom mui-popover-action ">
			    <!-- 可选择菜单 -->
			    <ul class="mui-table-view">
				    <li class="mui-table-view-cell">
				    	<a href="#sheet1">
				    		<p class="fz28 c99 tx-c ptb30">分享到</p>
					        <div class="clear"> 
					        	<div class="share_item" v-for="(shareItem,index) in shareBts" @tap="shareAction(shareBts[index], true)">
					        		<div class="y_icon" :class="shareItem.icon"></div>
					        		<p class="fz28 c33 tx-c">{{shareItem.title}}</p>
					        	</div>
					        </div>
				    	</a>
				    </li>
			    </ul>
			    <!-- 取消菜单 -->
			    <ul class="mui-table-view">
			        <li class="mui-table-view-cell">
			        	<a href="#sheet1"><b class="fz28 c33">取消</b></a>
			        </li>
			    </ul>
			</div>
		</div>
		<script>
			new Vue({
				el:'#app',
				data: function() {
					return {
						item: {},
						skill_id: null,
						dis_id: null,
						workfare : '',
						status:'',
						shares:'',
						share_data:null,
						shareBts:[],
						isFirst:true
					}
				},
				methods:{
					/**
					 * 获取详情
					 */
					getinfo: function() {
						App.http('v1/distribute.distribute/getInfo', {
							project_skill_id: this.skill_id
						}, function(data, status) {
							this.item = data.data.info;
							this.workfare = data.data.info.workfare;
						}.bind(this));
						/**
						 * 获取分享规则
						 */
						App.http('v1/share.base/skill', {project_skill_id:this.skill_id}, function(data, status) {
							share_data = data.data;
						}.bind(this));
					},
					/**
					 * 提交抢单
					 */
					confirm: function() {
						var that = this;
						if(this.status != 2){
							mui.confirm("你还未进行实名认证，不能进行抢单，是否进行实名认证？", "未实名认证", ["取消", "去认证"], function(e) {
								if(e.index == 1) {
									var page={
											"url":"my/userInfo/attes",
											"title":"实名认证",
											"ani":"slide-out-top"
										};
									App.open(page);
								}
							});
						}else{
							App.http('v1/distribute.distribute/rob', {
								dis_id: that.item.dis_id,
								project_skill_id: that.item.project_skill_id
							}, function(data, status) {
								if(data.status != 1) {
									mui.toast(data.msg); 
									return;
								}
								that.item.dis_status = 1;
								mui.toast('已抢单'); 
								that.item.per_del = 1
								App.send('page/project/index.html', 'updateItem', that.item.project_skill_id);
							});
						}
						
					},
					/**
					 * 收藏
					 * @param {Object} type
					 */
					follow: function(type) {
						var that = this;
						App.http('v1/distribute.distribute/collection', {
							//							dis_id: that.dis_id,
							project_skill_id: that.skill_id
						}, function(data, status) {
							that.item.is_cancel = type; 
							App.send('my/follow/index', 'update');
							if(type == 1){
								mui.toast("已关注"); 
							}
							
						});
					},
					spilceNum:function(item){
						if(item){
							let str = item.split(",")
							return str
						}
					},
//					获取用户信息
					getuser: function() {
						App.http('v1/user.base/getInfo', {}, function(data, status) {
							this.status = data.data.status
							App.setItem('user', data.data);
						}.bind(this));
					},
					/**
					 * 转换时间
					 * */
					timestampToTime:function(timestamp) {
		                var date = new Date(timestamp * 1000);
		                Y = date.getFullYear() + '-';
		                M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
		                D = date.getDate() + ' ';
		                h = date.getHours() + ':';
		                m = date.getMinutes() + ':';
		                s = date.getSeconds();
		                return Y+M+D;
		            },
		            /**
		             * 分享
		             * */
		            share:function(){
//		            	var shareBts = [];
						// 更新分享列表
						if(this.isFirst){
							var ss = this.shares['weixin'];
//							console.log(JSON.stringify(ss))
							ss && ss.nativeClient &&  (this.shareBts.push({
									title: '微信好友',
									s: ss, 
									x: 'WXSceneSession',
									icon:'y_weixin_icon'
								}),this.shareBts.push({
									title: '朋友圈',
									s: ss,
									x: 'WXSceneTimeline',
									icon:'y_quan_icon'
								}));
							//微博
							ss = this.shares['sinaweibo'];
							ss && ss.nativeClient && this.shareBts.push({
								title: '新浪微博',
								s: ss,
								icon:'y_xinlang_icon'
							});
							//QQ
							ss = this.shares['qq'];
							ss && ss.nativeClient && this.shareBts.push({
								title: 'QQ好友',
								s: ss,
								icon:'y_qq_icon'
							});
//							console.log(JSON.stringify(this.shareBts));
							this.isFirst = false;
						}
						
		            },
		            /**
		             * 分享操作
		             * */
		            shareAction:function(sb, bh){
		            	if(!sb || !sb.s) {
							mui.toast('无效的分享服务！');
							return;
						}
						var msg = {
							extra: {
								scene: sb.x
							}
						};
						if(bh) {
							msg.href = share_data.rule_params.url;
							msg.title = share_data.rule_params.title;
							msg.content = share_data.rule_params.content;
			//				msg.thumbs = [share_data.rule_params.thumb];
			//				msg.pictures = [share_data.rule_params.thumb];
			
						} else {
							if(pic && pic.realUrl) {
								msg.pictures = [pic.realUrl];
							}
						}
						// 发送分享
						if(sb.s.authenticated) {
							this.shareMessage(msg, sb.s);
						} else {
							sb.s.authorize(function() {
								this.shareMessage(msg, sb.s);
							}.bind(this), function(e) {
								mui.toast('认证授权失败：' + e.code + ' - ' + e.message);
							});
						}
		            }, 
		            /**
					 * 发送分享消息
					 * @param {JSON} msg
					 * @param {plus.share.ShareService} s
					 */
					shareMessage:function(msg, s) {
						s.send(msg, function() {
							mui.toast('分享到' + s.description + '成功');
						}, function(e) {
							App.log(e);
							mui.toast('分享到' + s.description + '失败');
						});
					}
				},
				filters: {
					formatSex: function(sex) {
						if(sex == 1) {
							return '男';
						} else if(sex == 2) {
							return '女';
						} else {
							return '性别不限';
						}
					},
					formatAge: function(age) {
						return age == 0 ? '年龄不限' : age;
					},
					formatUnit: function(type) {
						if(type == 1) {
							return '天';
						} else if(type == 2) {
							return '件';
						} else if(type == 3) {
							return '月';
						} else if(type == 4) {
							return '平方';
						} else if(type == 5) {
							return '立方';
						}
					},
					formatParam: function(item) {
						return '{address:"' + item.address + '",det_add:"' + item.det_add + '"}';
					},
					formatCertificates: function(aptitude ) {
						return aptitude == 2 ? '持证' : '';
					},
	
				},
				mounted:function(){
					mui.plusReady(function() {
						var self = plus.webview.currentWebview();
						this.skill_id = self.skill_id;
						this.dis_id = self.dis_id;
						this.getinfo();
						this.getuser();
						plus.share.getServices(function(s) {
//							console.log(JSON.stringify(s))
							this.shares = {};
							for(var i in s) {
								var t = s[i];
								this.shares[t.id] = t;
							}
//							console.log(JSON.stringify(this.shares))
						}.bind(this), function(e) {
							mui.toast('获取分享服务列表失败：' + e.message);
						});
					}.bind(this));
				}
			})
			
			
			
//			var shares = null;
//			var share_data;
//			mui.plusReady(function() {
//				plus.share.getServices(function(s) {
//					shares = {};
//					console.log(JSON.stringify(s))
//					for(var i in s) {
//						var t = s[i];
//						shares[t.id] = t;
//					}
//				}, function(e) {
//					mui.toast('获取分享服务列表失败：' + e.message);
//				});
//			});
//	
//			/**
//			 * 分享操作
//			 * @param {JSON} sb 分享操作对象s.s为分享通道对象(plus.share.ShareService)
//			 * @param {Boolean} bh 是否分享链接
//			 */
//			function shareAction(sb, bh) {
//				console.log(JSON.stringify(sb))
//				if(!sb || !sb.s) {
//					mui.toast('无效的分享服务！');
//					return;
//				}
//				var msg = {
//					extra: {
//						scene: sb.x
//					}
//				};
//				if(bh) {
//					msg.href = share_data.rule_params.url;
//					msg.title = share_data.rule_params.title;
//					msg.content = share_data.rule_params.content;
//	//				msg.thumbs = [share_data.rule_params.thumb];
//	//				msg.pictures = [share_data.rule_params.thumb];
//	
//				} else {
//					if(pic && pic.realUrl) {
//						msg.pictures = [pic.realUrl];
//					}
//				}
//				// 发送分享
//				if(sb.s.authenticated) {
//					shareMessage(msg, sb.s);
//				} else {
//					sb.s.authorize(function() {
//						shareMessage(msg, sb.s);
//					}, function(e) {
//						mui.toast('认证授权失败：' + e.code + ' - ' + e.message);
//					});
//				}
//			}
//			/**
//			 * 发送分享消息
//			 * @param {JSON} msg
//			 * @param {plus.share.ShareService} s
//			 */
//			function shareMessage(msg, s) {
//				s.send(msg, function() {
//					mui.toast('分享到' + s.description + '成功');
//				}, function(e) {
//					App.log(e);
//					mui.toast('分享到' + s.description + '失败');
//				});
//			}
//	
//			// 分析链接
//			function share() {
//				var shareBts = [];
//				// 更新分享列表
//				var ss = shares['weixin'];
//				console.log(JSON.stringify(ss))
//				ss && ss.nativeClient && (shareBts.push({
//						title: '分享到微信朋友圈',
//						s: ss,
//						x: 'WXSceneTimeline'
//					}),
//					shareBts.push({
//						title: '发送给微信好友',
//						s: ss, 
//						x: 'WXSceneSession'
//					}));
//				//微博
//				ss = shares['sinaweibo'];
//				ss && ss.nativeClient && shareBts.push({
//					title: '分享到新浪微博',
//					s: ss
//				});
//				//QQ
//				ss = shares['qq'];
//				ss && ss.nativeClient && shareBts.push({
//					title: '发送给QQ好友',
//					s: ss
//				});
//				// 弹出分享列表
////				shareBts.length > 0 ? plus.nativeUI.actionSheet({
////					cancel: '取消',
////					buttons: shareBts
////				}, function(e) {
////					(e.index > 0) && shareAction(shareBts[e.index - 1], true);
////				}) : plus.nativeUI.alert('当前环境无法支持分享链接操作!');
//			}
		</script>
	</body>
</html>
