<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title></title>
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/base.css" />
		<link rel="stylesheet" href="../../css/main.css" />
		<script type="text/javascript" src="../../js/e_fish.js"></script>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
	</head>
	<style>
		body,.mui-content{
			background: #fff;
		}
		.mui-icon-plusempty{
			font-weight: 600;
		}
		.mui-table-view-cell{
			padding: 0;
		}
		.mui-table-view-cell:after{
			background-color: transparent;
		}
		.mui-table-view-chevron .mui-table-view-cell{
			padding-right: 0;
		}
		.limit_width{
			width: 5rem;
		}
	</style>
	<body id="e_fish_container">
		<div id="app">
			<!--下拉刷新容器-->
			<div id="refreshContainer2" class="mui-content mui-scroll-wrapper">
				<div class="y_exchange_no" v-if="list.length == 0" >
					<div class="y_exchange_record">
						<img src="../../images/y-exchange-record.png"/>
					</div>
					<p class="tx-c fz32 c66">暂无抢单 </p>
					<p class="tx-c fz32 c66">去<span class="c-green" to="project/index" title="none">首页</span>抢工作吧</p>
				</div>
				<div class="mui-scroll">
					<ul class="mui-table-view mui-table-view-chevron">
						<li class="mui-table-view-cell" to="project/rushDefault" title='none' v-for="(item,index) in list" v-bind:param="item | formatParam">
							<div class="bb plr30 ptb25">
								<div class="ub">
									<div class="ub-f1">
										<p class="fz32 c33 fw-b">{{item.skill_name}}<span class="c66 fz28 plr20">[招{{item.number}}人]</span></p>
										<div class="fz24 c66 y_label pt20">
											<span>{{item.province_name}}-{{item.city_name}}</span>
											<span class="cc7">|</span>
											<span>{{item.aptitude | formatCertificates}}</span>
											<span class="cc7" v-if="item.aptitude == 2">|</span>
											<span>{{item.sex | formatSex}}</span>
											<span class="cc7">|</span>
											<span>{{item.age | formatAge}}</span>
										</div>
										<ul class="y_tag_list clear pt30 mb30">
											<li v-for="tag in spilceNum(item.workfare)">{{tag}}</li>
										</ul> 
									</div>  
									<div class="tx-r"> 
										<p class="fz28 c-red fw-b" v-if="item.skill_type==6">面议</p>
										<p v-if="item.skill_type!=6" class="fz28 c66 fw-b">{{item.wages}}元/{{item.skill_type | formatUnit}}</p>
										<p  class="fz24 c66 pt20">{{item.addtime}}</p>
									</div>
								</div>
								<div class="limit_width">
									<p class="fz28 c33">{{item.project_name}}</p>
								    <p class="fz28 c99">{{item.company_name}}</p>
								</div>
							</div>
							<div class="c-yellow y_classify" v-if="item.dis_status == 1">【已抢单】</div>
							<div class="c-red2 y_classify" v-else-if="item.dis_status == 3">【抢单失败】</div>
							<div class="c-green y_classify" v-else-if="item.dis_status == 2">【抢单成功】</div>
							<div class="c-red2 y_classify" v-else-if="item.dis_status == 11">【已失效】</div>
							<div class="c-red2 y_classify" v-else-if="item.dis_status == 12">【已满员】</div>
							<div class="c-red2 y_classify" v-else-if="item.worker_status == 2">【已解雇】</div>
						</li>
					</ul>
				</div>
			</div>
			<script>
				new Vue({
					el:'#app',
					data: function() {
						return {
							page: 0,
							list: []
						}
					},
					methods: {
						getlist: function(type) {
							App.http('v1/distribute.dispatch/myList', {
								page: this.page
							}, function(data, status) {
								this.page = data.data.page;
								/**
								 * 默认关闭下拉提示
								 */
								mui('#refreshContainer2').pullRefresh().endPulldown();
								/**
								 * 返回数据为空的时候
								 */
								if(data.data.list.length == 0) {
	
									/**
									 * 取消上拉加载更多提示
									 */
									mui('#refreshContainer2').pullRefresh().endPullupToRefresh(true);
									return false;
								}
								/**
								 *  总页数等于当前页码的时候
								 */
								if(data.data.total_page == this.page) {
									/**
									 * 取消上拉加载更多提示
									 */
									mui('#refreshContainer2').pullRefresh().disablePullupToRefresh();
								}
								/**
								 * 取消上拉加载中提示
								 */
								mui('#refreshContainer2').pullRefresh().endPullupToRefresh(false);
								/**
								 * 如果是上拉，则 push 数据
								 */
								if(type == 'add') {
									for(var i = 0; i < data.data.list.length; i++) {
										this.list.push(data.data.list[i]);
									}
									return;
								}
								this.list = data.data.list;
								console.log(JSON.stringify(this.list))
							}.bind(this));
						},
						delItem: function(index, id, event) {
							var that = this;
							mui.confirm('确认删除该条记录？', '', ['取消', '确认'], function(e) {
								if(e.index == 1) {
									App.http('v1/distribute.distribute/delDistribute', {
										dis_id: id
									}, function(data, status) {
										mui.toast(data.msg);
										if(data.status == 1) {
											window.location.reload();
										}
	
									});
								} else {
									setTimeout(function() {
										$.swipeoutClose(event.parentNode);
									}, 0);
								}
	
							});
						},
						spilceNum:function(item){
							if(item){
								let str = item.split(",");
								if(str.length >5){
									str.length = 5
								}
								return str
							}
						}
					},
					filters: {
						formatStatus: function(item) {
							if(item.worker_status == 2) {
								return ' - 已解雇';
							} 
							if(item.dis_status == 1) {
								return ' - 已抢单';
							} else if(item.dis_status == 2) {
								return ' - 抢单成功';
							} else if(item.dis_status == 3) {
								return ' - 抢单失败';
							} else if(item.dis_status == 11) {
								return ' - 已失效';
							} else if(item.dis_status == 12) {
								return ' - 已满员';
							}
						},
						formatSex: function(sex) {
							if(sex == 1) {
								return '男';
							} else if(sex == 2) {
								return '女';
							} else {
								return '性别不限';
							}
						},
						formatAge: function(age) {
							return age == 0 ? '年龄不限' : age;
						},
						formatUnit: function(type) {
							if(type == 1) {
								return '天';
							} else if(type == 2) {
								return '件';
							} else if(type == 3) {
								return '月';
							} else if(type == 4) {
								return '平方';
							} else if(type == 5) {
								return '立方';
							}
						},
						formatParam: function(item) {
							return '{skill_id:' + item.project_skill_id + ',dis_id:' + item.dis_id + ',dis_status:'+item.dis_status+'}';
						},
						formatCertificates: function(aptitude ) {
							return aptitude == 2 ? '持证' : '';
						},
	 
					}, 
					mounted: function() {
						App.request('update', function() {
							this.getlist();
						}.bind(this));
						mui.init({
							pullRefresh: {
								container: "#refreshContainer2", //下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
								up: {
									height: 50, //可选.默认50.触发上拉加载拖动距离
									auto: false, //可选,默认false.自动上拉加载一次
									contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
									contentnomore: '', //可选，请求完毕若没有更多数据时显示的提醒内容；
									callback: function() {
										this.page++;
										this.getlist('add');
									}.bind(this)
								},
								down: { 
									style: 'circle', //必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
									color: '#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
									height: '50px', //可选,默认50px.下拉刷新控件的高度,
									range: '100px', //可选 默认100px,控件可下拉拖拽的范围
									offset: '0px', //可选 默认0px,下拉刷新控件的起始位置
									auto: false, //可选,默认false.首次加载自动上拉刷新一次
									callback: function() {
										mui('#refreshContainer2').pullRefresh().refresh(true);
										this.page = 1;
										this.getlist();
									}.bind(this)
								}
							}
						});
						mui.plusReady(function(){
							this.getlist();
						}.bind(this))
					}
				})
			</script>
		</div>
	</body>
</html>
